body {
    background-color: #10032B;
        background-image: url("images/bg.png");
        background-repeat:no-repeat;
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  h3 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }

  table{
    text-align: center;
  }

  button{
    background: url("images/lButton.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #071C3D;
  }

  label{

    color: white;
  }

  .image_over{
    position: absolute;
  }
